<html>
<head>
  <title>Medicos</title>

  <!-- css -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


  <!--external scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


  <!-- libraries -->
  <script src="/javascripts/libraries/ui-bootstrap-tpls-0.13.0.min.js"></script>

  <!-- Angular App initialisation -->
  <script src="/javascripts/angularApp.js"></script>

  <!--Services  -->
  <script src="/javascripts/services/physicians.js"></script>
  <script src="/javascripts/services/posts.js"></script>
  <script src="/javascripts/services/auth.js"></script>
  <script src="/javascripts/services/users.js"></script>

  <!--Controllers -->
  <script src="/javascripts/controllers/AuthCtrl.js"></script>
  <script src="/javascripts/controllers/NavCtrl.js"></script>
  <script src="/javascripts/controllers/PostsCtrl.js"></script>
  <script src="/javascripts/controllers/APostCtrl.js"></script>
  <script src="/javascripts/controllers/UserCtrl.js"></script>
  <script src="/javascripts/controllers/PhysicianCtrl.js"></script>


  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body ng-app="Medicos" ng-controller="MainCtrl">
  <nav class="navbar navbar-default" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ><a ng-href="/#/home">Medicos</a></li>
      <li ><a id="linkToUserHome" ng-show="isLoggedIn() && isUser()" ng-href="/#/users/{{currentUser()}}/home">Home</a></li>
      <li ><a id="linkToPhysicianHome" ng-show="isLoggedIn() && isPhysician()" ng-href="/#/physicians/{{currentUser()}}/home">Home</a></li>
      <li ><a ng-href="/#/posts">Posts</a></li>
    </ul>

    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>Welcome {{currentUser()}}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-12 m-body">
      <div class="m-header-text">
        Medicos helps you connect with your psychotherapist easily, whenever, whereever. <br>
        <a href="/#/posts">Read articles</a>, <a>Take part in discussions</a>, <a>Become a part of communities</a>; seek & receive help easily.
      </div>


      <br>
      <br>
      <g:hangout render="createhangout"></g:hangout>

      <div>
        <!-- Insert html view templates here -->
          <ui-view></ui-view>

      </div>
    </div>
  </div>



<!--_________________________________________________________________________-->

  <script type="text/ng-template" id="/home.html">
      <div class="col-md-12 m-Grid m-rowBg m-border">
        <div ng-repeat="physician in listOfPhysicians">
          <br>
          <div class="m-profileList">
            <span class="m-doctor">
              <div class="m-profileList-Header">
                <a ng-show="physician.username" href="/#/physicians/{{physician.username}}/profile">
                  Dr. {{physician.username}}
                </a>
                <a ng-hide="physician.username">
                  Dr. {{physician.username}}
                </a>
              </div>

              <div class="m-profileList-Body" ng-mouseover="isShowBody = true" ng-mouseleave="isShowBody = false">
                <div class="row">
                  <div style="display:inline-block;" class="col-md-5">
                    <datepicker ng-model="physician.appointment.date" min-date="2015-06-01" show-weeks="true"
                      class="well well-sm" custom-class="getDayClass(date, mode)" ng-show="isShowBody"></datepicker>
                  </div>
                  <div class="col-md-3">
                    <timepicker ng-model="physician.appointment.time" hour-step="hstep" minute-step="30"
                      show-meridian="ismeridian" ng-show="isShowBody"></timepicker>
                  </div>
                  <div class="col-md-3">
                    <pre class="alert alert-info" >
                      Date is : {{physician.appointment.date | date: 'shortDate'}} at Time: {{physician.appointment.time | date:'shortTime' }}
                    </pre>
                  </div>
                  <div class="m-profileList-Footer" ng-mouseover="isShowBody = true" ng-mouseleave="isShowBody = false" ng-show="isShowBody">
                    <button ng-click="bookAnAppointment(physician)">Book An Appointment</button>
                  </div>

                </div>
              </div>

            </span>
          </div>
          <br>
        </div>
      </div>
    </script>

<!-- ________________________________________________________________________  -->
  <script type="text/ng-template" id="/userHome.html">
    <div class="page-header">
      <h3>
        <a ng-show="user.username" href="{{user.username}}">
          {{user.username}}
        </a>
        <span ng-hide="user.username">
          {{user.username}}
        </span>
      </h3>
    </div>
    <div class="g-hangout" data-render="createhangout"></div>
    <!--main-->
    <div class="container">
	   <div class="row">
        <!--left-->
        <div class="col-md-3" id="leftCol">
          <ul class="nav nav-stacked" id="sidebar">
            <li><a href="#sec0">Profile</a></li>
            <li><a href="#sec1">History</a></li>
            <li><a href="#sec2">Appointments</a></li>
            <li><a href="#sec3">Records & Prescriptions</a></li>
            <li><a href="#sec4">Progress</a></li>
          </ul>
        </div><!--/left-->

        <!--right-->
        <div class="col-md-8">
          <h2 id="sec0">Hello Mr. {{user.username}} . Hope you are having a good time.
            <form ng-submit="updateUserProfileDetails()"  style="margin-top:30px;">
                <div class="form-group">
                  <input type="text" ng-readonly="!isEditable" class="form-control" placeholder="address" ng-model="user.address"></input>
                </div>
                <div class="form-group">
                  <input type="text" ng-readonly="!isEditable" class="form-control" placeholder="city" ng-model="user.city"></input>
                </div>
                <div class="form-group">
                  <input type="text" ng-readonly="!isEditable" class="form-control" placeholder="country" ng-model="user.country"></input>
                </div>
                <div class="form-group">
                  <input type="number" ng-readonly="!isEditable" class="form-control" placeholder="postalCode" ng-model="user.postalCode"></input>
                </div>
                <div class="form-group">
                  <input type="date" ng-readonly="!isEditable" class="form-control" placeholder="27-03-1992" ng-model="user.dateOfBirth"></input>
                </div>
                <div class="form-group">
                  <input type="number" ng-readonly="!isEditable" class="form-control" placeholder="contactNo" ng-model="user.contactNo"></input>
                </div>
                <button ng-click="isEditable = !isEditable" class="btn">edit</button>
                <button ng-show="isEditable" type="submit" class="btn btn-primary">Update</button>
            </form>

          </h2>

          <h2 id="sec1">

            Appointments :-
            <div ng-repeat="appointment in user.appointments">
              <span >Appointment with Dr. {{appointment.physicianName}} at {{appointment.dateTime | date: "HH:mm:ss"}}
                on {{appointment.dateTime | date: "yyyy-MM-dd"}} </span>
                <span>
                  <!-- Add Hangouts Button to launch Hangouts App for the appointment -->
                </span>
              <br>
            </div>

          </h2>


          <h2 id="sec2">
          .................<br><br><br><br>
          Section 2
          </h2>

        </div>

      </div>
    </div>

  </script>

<!-- _________________________________________________________________________ -->
    <script type="text/ng-template" id="/physicianHome.html">
      <div class="page-header">
        <h3>
          <a ng-show="physician.username" href="{{physician.username}}">
            Hello Doctor {{physician.username}}
          </a>
          <span ng-hide="physician.username">
            Hello Doctor {{physician.username}}
          </span>
        </h3>
      </div>

      <!--main-->
      <div class="container">
  	   <div class="row">
          <!--left-->
          <div class="col-md-3" id="leftCol">
            <ul class="nav nav-stacked" id="sidebar">
              <li><a href="#sec0">Profile</a></li>
              <li><a href="#sec1">History</a></li>
              <li><a href="#sec2">Appointments</a></li>
              <li><a href="#sec3">Records & Prescriptions of Patients</a></li>
              <li><a href="#sec4">Progress of your Patients</a></li>
            </ul>
          </div><!--/left-->

          <!--right-->
          <div class="col-md-8">
            <h2 id="sec0">Hope you are having a good time doctor.
              <form ng-submit="updateUserProfileDetails()"  style="margin-top:30px;">
                  <div class="form-group">
                    <input type="text" ng-readonly="!isEditable" class="form-control" placeholder="address" ng-model="physician.address"></input>
                  </div>
                  <div class="form-group">
                    <input type="text" ng-readonly="!isEditable" class="form-control" placeholder="city" ng-model="physician.city"></input>
                  </div>
                  <div class="form-group">
                    <input type="text" ng-readonly="!isEditable" class="form-control" placeholder="country" ng-model="physician.country"></input>
                  </div>
                  <div class="form-group">
                    <input type="number" ng-readonly="!isEditable" class="form-control" placeholder="postalCode" ng-model="physician.postalCode"></input>
                  </div>
                  <div class="form-group">
                    <input type="date" ng-readonly="!isEditable" class="form-control" placeholder="27-03-1992" ng-model="physician.dateOfBirth"></input>
                  </div>
                  <div class="form-group">
                    <input type="text" ng-readonly="!isEditable" class="form-control" placeholder="contactNo" ng-model="physician.contactNo"></input>
                  </div>
                  <div class="form-group">
                    <input type="email" ng-readonly="!isEditable" class="form-control" placeholder="Email" ng-model="physician.email"></input>
                  </div>
                  <div class="form-group">
                    <input type="text" ng-readonly="!isEditable" class="form-control" placeholder="Registration Number" ng-model="physician.registrationNo"></input>
                  </div>
                  <button ng-click="isEditable = !isEditable" class="btn">edit</button>
                  <button ng-show="isEditable" type="submit" class="btn btn-primary">Update</button>
              </form>

            </h2>
          </div>

        </div>
      </div>
    </script>

<!-- _________________________________________________________________________ -->

    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
      </div>

      <div ng-repeat="post in posts | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(post)"></span>
        {{post.upvotes}}
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="post.link" href="#/posts/{{post._id}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </span>

        <span ng-show="post.details">
          <a>{{post.details}}</a> |
        </span>

        <br>

        <span ng-show="post.author">
          posted by <a>{{post.author}}</a> |
        </span>

        <span>
        <a href="#/posts/{{post._id}}">Comments</a>
        </span>
      </div>

      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
      </div>

      <form ng-submit="addPost()"
        ng-show="isLoggedIn()"
        style="margin-top:30px;">

        <h3>Add a new post</h3>

        <div class="form-group">
          <input type="text"  class="form-control" placeholder="Title"  ng-model="title"></input>
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Details" ng-model="details" rows="4"> </textarea>
        </div>
        <div class="form-group">
          <input type="text"  class="form-control"  placeholder="Link"  ng-model="link"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </script>

<!-- _________________________________________________________________________ -->

    <script type="text/ng-template" id="/aPost.html">
      <div class="page-header">
        <h3>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </h3>
      </div>

      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
          {{comment.body}}
        </span>
      </div>
      <!-- post template -->

      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
      </div>

      <form ng-submit="addComment()"  ng-show="isLoggedIn()"  style="margin-top:30px;">
       <h3>Add a new comment</h3>

       <div class="form-group">
         <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
       </div>
       <button type="submit" class="btn btn-primary">Post</button>
     </form>
    </script>
<!-- _________________________________________________________________________ -->

    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>Medicos</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()"  style="margin-top:30px;">
        <h3>Register</h3>

        <br>
        Choose user type: <input type="radio" ng-model="user.type" value="USER" /> User
                          <input type="radio" ng-model="user.type" value="PHYSICIAN" /> Physician
        <br>
        <br>

        <div class="form-group">
          <input type="text"  class="form-control"  placeholder="Username"  ng-model="user.username"></input>
        </div>

        <span ng-show="isUserPhysician()">
            <div class="form-group">
              <input type="text"  class="form-control"  placeholder="Email"  ng-model="user.email"></input>
            </div>

            <div class="form-group">
              <input type="text"  class="form-control"  placeholder="Contact Number/Phone Number"  ng-model="user.contactNo"></input>
            </div>

            <div class="form-group">
              <select ng-model="speciality"  ng-options="item as item.speciality for item in specialities"
                placeholder="Select Speciality"></select>
            </div>

            <div class="form-group">
              <input type="text"  class="form-control"  placeholder="Registration Number"  ng-model="user.registrationNo"></input>
            </div>
        </span>

        <div class="form-group">
          <input type="password"  class="form-control"
          placeholder="Password"  ng-model="user.password"></input>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

      </form>
    </script>

<!-- _________________________________________________________________________ -->

    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h1>Medicos</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()"
        style="margin-top:30px;">
        <h3>Log In</h3>

        <br>
        Choose user type: <input type="radio" ng-model="user.type" value="USER" /> User
                          <input type="radio" ng-model="user.type" value="PHYSICIAN" /> Physician
        <br>
        <br>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </script>
<!-- _________________________________________________________________________ -->

</body>
</html>
