body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.glyphicon-thumbs-up {
  cursor:pointer;
}

.m-body {
 // padding-left : 100px;
  padding-right : 100px;
}

.m-rowBg {
  background-color: #fAfAfA;
}

.m-header-text {
  font-size: 20px;
  //margin-left: 50px;
  margin-right: 50px;
}

.m-doctor {
  font-size:20px;
  //margin-left:10px;
}

.m-border {
  border: 1px solid #e1e8ed;
}

.m-Grid {
  display: block;
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  border-radius: 4px;
}

.m-profileList {
  margin-bottom: -1px;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  padding: 13px 15px 13px;
  word-break: break-all;
}

.m-profileList-Header {
  color: #8899a6;
  margin: 0;
  transition: color .15s;
}

.m-profileList-Body {

}

.m-profileList-Footer {

}


footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	background: #ddd;
	-webkit-box-shadow: 0 8px 6px 6px black;
	-moz-box-shadow: 0 8px 6px 6px black;
	box-shadow: 0 8px 6px 6px black
}
footer p {
	padding: 5px 0 12px 10px
}
#header1{
  position: fixed;
  position: absolute;
  height: 50px;
  z-index: 1;
  top: 0;
}